<%- include('../partials/header') %>

<h1 id="new-skill">NEW SKILL</h1>
<form action="/skills" method="POST" autocomplete="off">
  <input name="skill" placeholder="Add new skill here">
  <button type="submit" class="btn btn-primary">Add Skill</button>
</form>

<%- include('../partials/footer') %>