@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'Abel', sans-serif;
}


#name {
    font-size: 40px;
    border: solid 3px black;
    border-radius: 5px;
    padding: 14px 45px 14px 45px;
}

#description {
    font-size: 27px;
    margin-bottom: 60px;
}