nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 30px;
}

.nav-link {
    flex-basis: 30%;
    margin: 0px 12px 0px 12px;
    font-size: 25px;
    border: solid 1px white;
    border-radius: 4px;
    padding: 5px 20px 5px 20px;
    color: blue;
}

.nav-link:hover {
    color: white;
}